.card-container {
  transform-style: preserve-3d;
  &:hover .card {
    transform: rotateY(180deg);
  }

  .card {
    transition: transform 1s linear;
    height: 500px;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 10px;
    border-radius: 15px;
    overflow: hidden;

    img {
      width: 40px;
    }
    .content {
      height: 100%;
      width: 100%;
      padding: 10px;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      opacity: 0;
      color: white;
      transition: opacity ease-out 1s;
      transform: rotateY(180deg);

      &:hover {
        opacity: 1;
        transition: opacity 1s;
        background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8));
      }
    }
  }
}
