@import "~bootstrap/scss/bootstrap";
@import "vars";
@import "generics";

header {
  height: 100px;
  background-color: $secondary;
  font-family: "Open Sans", sans-serif;
  font-weight: 500;

  h2 {
    color: $primary-color;
    text-transform: Uppercase;
  }
}

body {
  height: auto;
  background-color: $background;
}
